.squares{
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
}

.board{
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  left: 50%;
  width: 156px;
  height: 156px;
}

.squares:after{
  clear: both;
  content: "";
  margin:0px;
  padding: 0px;
  display: inherit;
}
